params {
    input = null
    outdir = "output"
    publish_dir_mode = 'copy'
    
    // databases params
    db_kraken2 = null
    reference_fasta = null
    reference_bowtie2_index = null
    host_fasta = null
    host_bowtie2_index = null
 
    // filtering params
    fastp_qualified_quality = 15
    fastp_cut_mean_quality = 15
    fastp_reads_minlength = 15
    fastp_trim_front1 = 5
    fastp_trim_front2 = 5
    // true to save clipped reads to output
    save_clipped_reads = false

    trace_report_suffix = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
}

cleanup = false

profiles {
    conda {
        conda.enabled           = true
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        conda.channels          = ['conda-forge', 'bioconda', 'defaults']
        apptainer.enabled       = false
    }
    singularity {
        singularity.enabled     = true
        singularity.autoMounts  = true
        conda.enabled           = false
        docker.enabled          = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }

    docker {
        docker.enabled       = true
        conda.enabled        = false
        singularity.enabled  = false
        podman.enabled       = false
        shifter.enabled      = false
        charliecloud.enabled = false
        apptainer.enabled    = false
        docker.runOptions    = '-u $(id -u):$(id -g)'
    }
}

// FIXME
executor {
    queueSize       = 8
    submitRateLimit = '5 sec'
}

// FIXME
timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${params.trace_report_suffix}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${params.trace_report_suffix}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${params.trace_report_suffix}.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${params.trace_report_suffix}.html"
}

manifest {
    name = 'unholyparrot/evaluate_metka'
    contributors = [
        [
            name: 'Ivan Chudinov',
            affiliation: 'RISBM',
            email: "ikchudinov@gmail.com",
            orcid: "0000-0002-7527-9849"
        ]
    ]
    name = "metagenome simple evaluation"
    description = "development of own pipeline for metagenome evaluation"
    version = "0.1.0"
}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

includeConfig 'conf/modules.config'
