process {
    // for quality control
    withName: "FASTQC" {
        ext.args = '--quiet'
        publishDir = [
            path: { "${params.outdir}/quality_control/fastqc" },
            mode: params.publish_dir_mode,
            pattern: "*.html"
        ]
        ext.prefix = { "${meta.id}" }
        tag = { "${meta.id}" }
    }
    
}