process {
    // for quality control
    withName: "FASTQC" {
        ext.args = '--quiet'
        publishDir = [
            path: { "${params.outdir}/quality_control/fastqc" },
            mode: params.publish_dir_mode,
            pattern: "*.html"
        ]
        ext.prefix = { "${meta.id}" }
        tag = { "${meta.id}" }
    }

    withName: KRAKEN2_KRAKEN2 {
        ext.args = '--quiet'
        publishDir = [
            path: { "${params.outdir}/taxonomy/kraken2/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*.txt"
        ]
        ext.prefix = { "${meta.id}" }
        tag = { "${meta.id}" }
    }

    withName: "SAMTOOLS_DEPTH" {
        publishDir = [
            path: { "${params.outdir}/reference_coverage" },
            mode: params.publish_dir_mode,
            pattern: "*.tsv"
        ]
        ext.prefix = { "${meta1.id}_depth" }
        tag = { "${meta1.id}" }
    }

    withName: FASTP {
        ext.args = [
            "-q ${params.fastp_qualified_quality}",
            "--cut_front",
            "--cut_tail",
            "--cut_mean_quality ${params.fastp_cut_mean_quality}",
            "--length_required ${params.fastp_reads_minlength}",
            "--dedup",
            "--trim_poly_x",
            params.fastp_trim_front1 ? "--trim_front1 ${params.fastp_trim_front1}" : "",
            params.fastp_trim_front2 ? "--trim_front2 ${params.fastp_trim_front2}" : "",
        ].join(' ').trim()
        publishDir = [
            [
                path: { "${params.outdir}/quality_control/fastp" },
                mode: params.publish_dir_mode,
                pattern: "*.{html,json}"
            ],
            [
                path: { "${params.outdir}/quality_control/fastp" },
                mode: params.publish_dir_mode,
                pattern: "*.fastq.gz",
                enabled: params.save_clipped_reads
            ]
        ]
        ext.prefix = { "${meta.id}" }
        tag = { "${meta.id}" }
    }
    
    withName: "MULTIQC" {
        publishDir = [
            path: { "${params.outdir}/quality_control/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
